---
import { Icon } from "astro-icon/components";

interface Props {
  link: string;
  title: string;
  icon: string;
  from: string;
  to: string;
}

const { link, title, icon, from, to } = Astro.props;
---

<a href={link} aria-label="Email" class="text-center p-6 bg-gray-800 rounded-xl border border-gray-700 hover:border-gray-600 transition-all duration-300">
  <div class={`w-16 h-16 bg-gradient-to-br ${from} ${to} rounded-full mx-auto mb-4 flex items-center justify-center`}>
    <span class="text-white text-xl">
      <Icon name={icon} class="text-3xl"/>
    </span>
  </div>
  <h3 class="text-lg font-semibold text-white">{title}</h3>
</a>